<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDataReader" version="2.1.2.3" targetFramework="net45" />
  <package id="NUnit" version="3.4.1" targetFramework="net45" />
  <package id="NUnit.Runners.lite" version="2.6.4.20150512" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net45" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="VisualStudioGitIgnore" version="1.3.0.0" targetFramework="net45" />
  <package id="WebDriverChromeDriver" version="2.10" targetFramework="net45" />
</packages>